{% extends "base.html" %}

{% block title %}Transactions | Adabank{% endblock %}

{% block content %}
<div class="container">
<div class="table-responsive">

<table class="table table-striped">
    <thead>
        <tr>
            <th>Agent</th>
            <th>Concept</th>
            <th>Amount</th>
            <th>Commission</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        
        <tr>
            <td>{{ transaction.agent }}</td>
            <td>{{ transaction.concept }}</td>
            <td>{{ transaction.amount }} €</td>
            <td>{{ transaction.commission }} €</td>
            <td>{{ transaction.timestamp|date:"m/d/Y - G:i"}}</td>
        </tr>
        {% endfor %}
    </tbody> 
</table>
{% include "account/transactions/pagination.html" with page=transactions %}
</div>
</div>
{% endblock %}