{% extends "base.html" %}
{% load static %}
{% block title %}{% trans "Home" %} | Adabank{% endblock %}
{% block content %}
{% include "header.html" %}
<div class="banner-header text-center" name="myPage">
    <img src="{% static 'img/adabank_logo.svg' %}">
</div>
<div class="row level">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p>{% trans "LEVEL OF RISK" %}</p>
    </div>
</div>
<div class="row risk">
    <div class="col-md-4 onesix"><span class="one">1</span>/6</div>
    <div class="col-md-4 indicative">{% trans "This number is indicative of the risk of the product, being 1/6 indicative of
        lower risk
        and 6/6 indicative of higher risk. and 6/6 indicative of higher risk." %}</div>
    <div class="col-md-4 guarante">{% trans "AdaBank is a member of the FGD. The guarantees 100,000 euros of the total
        amount of deposits made with AdaBank per person." %}<br><br>
    </div>
</div>
<div id="adabank18" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title-adabank18">AdaBank &lt18 <br>{% trans "The account built for teens" %}</h2>
            <h4 class="subtitle-adabank18">AdaBank &lt18 {% trans "is the account for everyone, aged 0-17. 
                Spend, send and stash your money, your way" %}</h4>
            <div class="button-box"><button class="button18">{% trans "Get AdaBank" %} &lt18</button></div>
        </div>
    </div>
</div>
</div>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h4>{% trans "Adabank is what is missing in your life to make it perfect." %}<br><span>{% trans "Michael Roe, Vice President,
                    Comment Box" %}</span></h4>
        </div>
        <div class="item">
            <h4>{% trans "It is the perfect combination of modern and serious applied to banking." %}<br><span>{% trans "John Doe, Salesman,
                    Rep Inc" %}</span></h4>
        </div>
        <div class="item">
            <h4>{% trans "Ada Lovelace would be proud to have her image represent such a great bank." %}<br><span>Chandler Bing,
                    Actor,
                    FriendsAlot</span></h4>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div id="services" class="container-fluid justify-content-center text-center">
    <h2>Check out that card</h2>
    <h4>Get the one that matches your vibe</h4>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-12 card-container">
            <div class="card">
                <a href="#">
                    <div class="our-card standard">
                        <div class="card-logo"><img src="{% static 'img/adabank_logo.svg' %}" alt="Visa"></div>
                        <div class="card-name">AdaBank</div>
                        <div class="chip"><img
                                src="https://raw.githubusercontent.com/dasShounak/freeUseImages/main/chip.png"
                                alt="chip">
                        </div>
                    </div>
                </a>
                <h4>STANDARD</h4>
                <p>Simplicity tailored to your lifestyle</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12 card-container">
            <div class="card">
                <a href="#">
                    <div class="our-card plus">
                        <div class="card-logo"><img src="{% static 'img/adabank_logo.svg' %}" alt="Visa"></div>
                        <div class="card-name">AdaBank</div>
                        <div class="chip"><img
                                src="https://raw.githubusercontent.com/dasShounak/freeUseImages/main/chip.png"
                                alt="chip">
                        </div>
                    </div>
                </a>
                <h4>PLUS</h4>
                <p>More perks, more freedom, more your style</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12 card-container">
            <div class="card">
                <a href="#">
                    <div class="our-card premium">
                        <div class="card-logo"><img src="{% static 'img/adabank_logo.svg' %}" alt="Visa"></div>
                        <div class="card-name">AdaBank</div>
                        <div class="chip"><img
                                src="https://raw.githubusercontent.com/dasShounak/freeUseImages/main/chip.png"
                                alt="chip">
                        </div>
                    </div>
                </a>
                <h4>PREMIUM</h4>
                <p>Elevate your financial expertise to the top</p>
            </div>
        </div>
    </div>
</div>
<div class="banner-container">
    <div class="text-center">
        <h2>Discover the AdaBank application</h2>
        <h4>Discover all the advantages of our AdaBank application for free, on ios and android</h4>
    </div>
    <div class="app-banner text-center">
        <img class="app-img" src="{% static 'img/app_img.png' %}" alt="">
    </div>
</div>
<div id="pricing" class="container-fluid">
    <div class="text-center">
        <h2>Banking products customers</h2>
        <h4>Choose a product plan that works for you</h4>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Lovelace Mortgage</h1>
                </div>
                <div class="panel-body">
                    <p><strong>20</strong> Lorem</p>
                    <p><strong>15</strong> Ipsum</p>
                    <p><strong>5</strong> Dolor</p>
                    <p><strong>2</strong> Sit</p>
                    <p><strong>Endless</strong> Amet</p>
                </div>
                <div class="panel-footer">
                    <h4>€ per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Lovelace Insurance</h1>
                </div>
                <div class="panel-body">
                    <p><strong>50</strong> Lorem</p>
                    <p><strong>25</strong> Ipsum</p>
                    <p><strong>10</strong> Dolor</p>
                    <p><strong>5</strong> Sit</p>
                    <p><strong>Endless</strong> Amet</p>
                </div>
                <div class="panel-footer">
                    <h4>€ per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Lovelace Investing</h1>
                </div>
                <div class="panel-body">
                    <p><strong>100</strong> Lorem</p>
                    <p><strong>50</strong> Ipsum</p>
                    <p><strong>25</strong> Dolor</p>
                    <p><strong>10</strong> Sit</p>
                    <p><strong>Endless</strong> Amet</p>
                </div>
                <div class="panel-footer">
                    <h4>€ per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> One Apple Park Way, Cupertino, CA 95014, United
                States</p>
            <p><span class="glyphicon glyphicon-phone"></span> +14089961010</p>
            <p><span class="glyphicon glyphicon-envelope"></span> adabanklovelace@gmail.com</p>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-left send" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}