{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}
{% load static %}
{% block title %}
{% trans "Profile" %} | AdaBank
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4 col-sm-2 col-xs-1 sidebar2">
    {% include "sidebar.html" %}
  </div>
  <div class="col-md-8 col-sm-10 col-xs-10 mt-2 card-list">
    <h1 class="title-card-list">{% trans "My Profile" %}a</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Image" %}</th>
            <th>{% trans "Full name" %}</th>
            <th>{% trans "Identification" %}</th>
            <th>Email</th>
            <th>{% trans "Date of birth" %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img {% if profile.avatar %} src="{% thumbnail profile.avatar
              180x180 %}" {% else %} src="{% static "img/adabank_logo.jpeg" %}"
              {% endif %} class="default-img" alt="profile image" />
            </td>
            <td>{{ profile.user.get_full_name|upper }}</td>
            <td>{{ profile.identification }}</td>
            <td>{{ profile.user.email }}</td>
            <td>{{ profile.date_of_birth|date:"d/m/Y" }}</td>
          </tr>
        </tbody>
      </table>
      <p><a href="{% url 'edit' %}">{% trans "Edit profile" %}</a></p>
    </div>
  </div>
  {% endblock %}
</div>
