{% extends "base.html" %}

{% block title %} {% trans "Transfer" %} | Adabank{% endblock %}

{% block content %}

<div class="container">
    <div class="django">
        <h1>{% trans "Make an outcoming transaction" %}</h1>
        <form method="post">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>{% trans "Sender" %}</th>
                <th>{% trans "CAC" %}</th>
                <th>{% trans "Concept" %}</th>
                <th>{% trans "Amount" %}</th>
            </tr>
            <tr>
              <td>{{ form.sender }}</td>
              <td>{{ form.cac }}</td>
              <td>{{ form.concept }}</td>
              <td>{{ form.amount }}</td>
            </tr>
      </table>
      {% csrf_token %}
      <input type="submit" value="Send">
    </form>
    </div>
{% endblock %}


