{% extends "base.html" %}

{% block title %}Haz una transferencia{% endblock %}

{% block content %}

<div class="container">
    <div class="django">
        <h1>Make an outcoming transaction</h1>
        <form method="post">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Sender</th>
                <th>CAC</th>
                <th>Concept</th>
                <th>Amunt</th>
            </tr>
            <tr>
              <td>{{ form.sender }}</td>
              <td>{{ form.cac }}</td>
              <td>{{ form.concept }}</td>
              <td>{{ form.amount }}</td>
            </tr>
      </table>
      {% csrf_token %}
      <input type="submit" value="Send">
    </form>
    </div>
{% endblock %}


