{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Done Outcoming | Adabank" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Outcoming transaction" %} {{ transaction.id }} {% trans "done successfully" %}</h1>
    <p>{% trans "Transaction ID:" %} {{ transaction.id }}</p>
    <p>{% trans "Account ID:" %} {{ transaction.account_id }}</p>
    <p>{% trans "Agent:" %} {{ transaction.agent }}</p>
    <p>{% trans "Concept:" %} {{ transaction.concept }}</p>
    <p>{% trans "Timestamp:" %} {{ transaction.timestamp }}</p>
    <p>{% trans "Amount:" %} {{ transaction.amount }}</p>
    <p>{% trans "Comission:" %} {{ transaction.comission }}</p>
    <p>{% trans "Kind:" %} {{ transaction.kind }}</p>
    <p><a href="{% url 'adabank:transaction_pdf' transaction.id %}">{% trans "Generate PDF" %}</a></p>    
{% endblock %}