{% extends "base.html" %}
{% load static %}

{% block title %}Create account | Adabank{% endblock %}

{% block nav %}                    
<li><a class="sign-in" href="{% url 'logout' %}">Logout</a></li>
{% endblock nav %}

{% block content %}
<div class="container">
<div class="django">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
    <h1>Fill the following form to create an account:</h1>
    <form method="post">
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
          <th>Alias</th>
        </tr>
        <tr>
          <td>{{ account_form.alias }}</td>
        </tr>
        <tr>
            <th>Password</th>
        </tr>
        <tr>
            <td>{{ account_form.password }}</td>
        </tr>
  </table>
  {% csrf_token %}
  <input type="submit" value="Create">
</form>
</div>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
  setTimeout(function () {
    document.querySelector("ul.messages").style.display = "none";
  }, 3000);
});
</script>
{% endblock %}

