{% extends "base.html" %}
{% load static %}

{% block title %}Your cards{% endblock %}

{% block nav %}                    
<li><a class="sign-in" href="{% url 'logout' %}">Logout</a></li>
{% endblock nav %}

{% block content %}
<div class="django">
    <h1>{{ account.alias|default:account.code }}</h1>
    <p>Tienes: {{ account.balance }} $</p>
    <a href="{% url 'account:card_create' %}">Crear una tarjeta para esta cuenta</a>
    <a href="{% url 'adabank:transfer_outcoming' account.id %}">Enviar una transferencia</a>
    <h2>Ultimas transacciones</h2>
    {% for transaction in transactions %}
        {% if transaction.kind == "PAY" %}
            <p>Agent: {{ transaction.agent }} Timestamp: {{ transaction.timestamp }} Kind: {{ transaction.kind }}<p>
        {% elif  transaction.kind == "INC" %}
            <p>Agent: {{ transaction.agent }} Timestamp: {{ transaction.timestamp }} Kind: {{ transaction.kind}}</p>
        {% else %}
            <p>Agent: {{ transaction.agent }} Timestamp: {{ transaction.timestamp }} Kind: {{ transaction.kind}}</p>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}