{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Edit Account" %} | Adabank {% endblock %}

{% block content %}
<br>
<div class="container">
    <form method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Alias</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <td>
                    {{ form.alias }}
                    {% csrf_token %}
                </td>
                <td><input type="submit" value="{% trans "Edit" %}"></td>
            </tr>
        </tbody>
        </table>
    </form>
</div>

{% endblock %}