{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans "Accounts" %} | Adabank
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4 col-sm-2 col-xs-1 sidebar2">
    {% include "sidebar.html" %}
  </div>
  <div class="col-md-8 col-sm-10 col-xs-10 mt-2 card-list">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1 class="title-card-list">{% trans "My Accounts" %}</h1>
    {% if accounts %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Alias" %}</th>
            <th>{% trans "Account" %}</th>
            <th>{% trans "Balance" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for account in accounts %}
          <tr>
            <td>
              <a href="{{ account.get_absolute_url }}">{{ account.alias|default:account.code }}</a>
            </td>
            <td>
              <a href="{{ account.get_absolute_url }}">{{ account.code }}</a>
            </td>
            <td>{{ account.balance }} €</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>
        <a href="{% url 'account:create_account_confirmation' %}">{% trans "Create new account" %}</a>
      </p>
      <p>
        <a href="{% url 'account:transaction_list' %}">{% trans "See all transactions" %}</a>
      </p>
    </div>
    <br />
    {% if transactions %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Agent" %}</th>
            <th>{% trans "Concept" %}</th>
            <th>{% trans "Timestamp" %}</th>
            <th>{% trans "Amount" %}</th>
            <th>{% trans "Kind" %}</th>
            <th>{% trans "Account" %}</th>
            <th>{% trans "Card" %}</th>
            <th>{% trans "Commission" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.agent }}</td>
            <td>{{ transaction.concept }}</td>
            <td>{{ transaction.timestamp|date:"m/d/Y - G:i" }}</td>
            <td>{{ transaction.amount }} €</td>
            <td>{{ transaction.kind }}</td>
            <td>{{ transaction.account }}</td>
            <td>{{ transaction.card }}</td>
            <td>{{ transaction.commission }} €</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <p>You don't have an account with transactions yet</p>
    {% endif %}
    {% else %}
    <p>
      {% trans "You don't have any account yet?" %}
    </p>
    <p>
      <a href="{% url 'account:create' %}">{% trans "Create new account" %}</a>
    </p>
    {% include "account/account_svg.html" %}
    {% endif %}

  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    setTimeout(function () {
      document.querySelector("ul.messages").style.display = "none";
    }, 3000);
  });
</script>
{% endblock %}
