:root {
    /*===== Colours =====*/
    --first-color: ;
    --input-color: #333333;
    --border-color: #333333;

    /*===== Font =====*/
    --body-font: 'Lato', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: 1rem;
}

/*===== Base =====*/
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #333333;
}

h1 {
    margin: 0;
}

.l-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.form {
    width: 450px;
    height: 690px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    background-color: #DEF249;
}

.login-form {
    height: 405px;
}

.form__title {
    font-weight: 500;
    margin-bottom: 3rem;
}

.form_div {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
    margin-left: 5%;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    font-size: 1.5em;
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    z-index: 1;
    background-color: white;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
    z-index: 1;
}

.form__button {
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #333333;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form__button:hover {
    background-color: #333333;
    color: #DEF249;
    border-radius: 10px;
    padding: 10px;
}

.form__input:focus+.form__label {
    top: -1.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: bold;
    z-index: 10;
}

.form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input:focus {
    border: 1.5px solid var(--first-color);
}

.form button {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #333333;
    margin-left: 20px;
    width: 90%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border: 2px solid #333333;
    transition: .2s;
    border-radius: .5rem;

}

.form button:hover,
.form button:active,
.form button:focus {
    color: #333333;
    background-color: #DEF249;
    border: 2px solid #333333;
    border-radius: .5rem;

}

.form .message {
    margin: 15px 0 0;
    color: #333333;
    font-size: 15px;
}

.form .message {
    margin: 15px 0 0;
    color: #333333;
    font-size: 15px;
}

a,
a:active,
a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #333333;
}

.create:hover {
    background-color: #333333;
    color: #DEF249;
    border-radius: 10px;
    padding: 10px;
}

.logo {
    height: 200px;
    width: auto;
    margin-top: -55px;
    margin-bottom: -10px;
    display: flex;
    justify-content: space-around;
    transition: 0.3s;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.register {
    text-align: center;
}

#business-input {
    display: none;
}

.people {
    display: block;
}

.privacy-policy {
    text-align: center;
}

.text-out a,
.text-out p {
    text-align: center;
    color: #DEF249;

}

.text-out a {
    font-size: 1.5em;
    transition: 0.2s;
}

.text-out p a:hover {
    color: white;
    font-size: 1.8em;
}

.subtitle-form {
    font-size: 1.2em;
    transition: 0.2s;
}

.custom-control1 {
    margin-left: 36px;
}

#ba-label1 {
    margin-left: 5px;
    font-weight: normal;
}

#ba-label2 {
    margin-left: 5px;
    font-weight: normal;
}

.custom-control {
    margin-left: 20px;
}

.custom-control-label::before {
    color: #333333;
    margin-top: -3px;
    width: 15px;
    height: 15px;
    border: 1px solid #333333;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #333333;
    background-color: #333333;
    border: 1px solid #333333;
    height: 15px;
    width: 15px;
}