/* Variables */
:root {
    --color-primary: #DEF029;
    --font-color: #333333;
    --font-size: 16px;
}

/* Globals */
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

/* Pagination */
.pagination {
    align-items: center;
    justify-content: center;
}

.default-img {
    height: 180px;
    width: auto;
}

.empty-trans {
    text-align: center;
}

.sidebar {
    margin-top: 50px;
    height: auto;
    width: 300px;
    background-color: var(--color-primary);
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.fa-bars {
    margin-left: 40px;
}

.sidebar2 {
    z-index: 2;
}

.sidebar a {
    text-decoration: none;
    color: var(--font-color);
    transition: 0.2s ease;
}

.sidebar a:hover {
    border-bottom: 2px solid var(--font-color);
}

.transactions {
    margin-top: 50px;
}

.last-trans-table {
    text-align: center;
    font-weight: 400;

}

.login {
    align-items: center;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 30px;
    background-color: var(--color-primary);
    padding: 20px 20px 20px;
    height: 450px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
}

.register-form {
    text-align: start;
}

.detail-title-account {
    text-align: center;
}

.login-btn {
    width: 100px;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--font-color);
}

.login img {
    width: 50%;
    margin-top: -20px;
    margin-bottom: 5px;
}

.register {
    align-items: center;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 30px;
    background-color: var(--color-primary);
    padding: 20px 20px 20px;
    height: 690px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
}

.register-btn {
    width: 100px;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--font-color);
}

.register img {
    width: 50%;
    margin-top: -20px;
    margin-bottom: 5px;
}

.accounts {
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--color-primary);
}

/* Header nav */

.logo {
    font-size: 22px;
}

.sign-up {
    font-weight: bold;
}

.logout {
    font-weight: bold;
}

.banner-header {
    background-color: var(--color-primary);
    color: var(--font-color);
    height: 305px;
    padding: 0px;
    margin-top: 50px;
}

.navbar {
    margin-bottom: 0;
    background-color: white;
    font-size: 14px !important;
    border: 0;
    box-shadow: 2px 2px 2px #cccccc;

}

.navbar li a,
.navbar .navbar-brand {
    color: var(--font-color) !important;
}

.navbar-nav li a:hover {
    background-color: var(--color-primary) !important;
}

.selected {
    background-color: var(--color-primary) !important;
}


.icon-bar {
    border: 1px solid var(--font-color);
}

/* Level Risk */

.risk {
    padding: 20px;
    margin: 0px 80px 10px 80px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    height: auto;
}

.level {
    text-align: center;
    margin: 10px 80px 0px 80px;
    font-size: 1.2em;
    padding: 10px;
    height: 50px;
    border: 1px solid #cccccc;
}

.onesix {
    display: flex;
    font-size: 2.8em;
    justify-content: center;
}

.one {
    color: #626262;
}

.indicative,
.guarante {
    text-align: justify;
    font-size: 1em;
}

/* Account<18 */

#adabank18 {
    background-image: linear-gradient(45deg, var(--color-primary) 25%, #ffffff 25%, #ffffff 50%, var(--color-primary) 50%, var(--color-primary) 75%, #ffffff 75%, #ffffff 100%);
    background-size: 113.14px 113.14px;
}

.title-adabank18 {
    text-align: center;
    font-size: 2em;
}

.subtitle-adabank18 {
    text-align: center;
}

.button-box {
    text-align: center;
    align-items: center;
}

.button18 {
    border: 2px solid var(--font-color);
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    background-color: var(--color-primary);
    color: var(--font-color);
    transition: .3s;
}

.button18:hover {
    background-color: var(--font-color);
    color: var(--color-primary);
}

.bg-grey {
    background-color: #EBEBEB;
}

/* Carousel */

.carousel-inner {
    height: 250px;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: var(--color-primary);
}

.carousel-indicators li {
    border-color: var(--color-primary);
}

.carousel-indicators li.active {
    background-color: var(--color-primary);
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

/* Cards */
.card-list {
    z-index: 1;
}

.card {
    margin-bottom: 10px;
    border: none !important;
    background-color: transparent !important;
}

.our-card {
    position: relative;
    height: 184px;
    width: 293px;
    border-radius: 25px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: .2s ease;
    margin-bottom: 10px;
    margin-top: 10px;
}

.our-card:hover {
    transform: scale(1.05);
}

.card-logo img,
.card-name,
.chip img {
    position: absolute;
}

.card-logo img {
    top: 10px;
    right: 25px;
    width: 55px;
    height: auto;
}

.chip img {
    top: 120px;
    left: 35px;
    width: 35px;
    height: auto;
    opacity: 0.8;

}

.card-name {
    font-size: 1.5rem;
    left: 35px;
    bottom: 130px;
    color: var(--font-color);
}

.card-code {
    padding: 118px;
    color: var(--font-color);
}

.select-card-title {
    margin-bottom: 20px;
}

.title-card {
    margin-bottom: 5px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.base {
    background: linear-gradient(135deg, #DEF029, #DEF029, rgba(50, 205, 50, 0.92));
}

.standard {
    background: linear-gradient(45deg, #DEF029, #DEF029, limegreen);
}

.premium {
    background: linear-gradient(45deg, #6f229e, #f094e7);
}

.plus {
    background: linear-gradient(45deg, #5840ff, #18f0b8);
}

/* PANELS */

.panel {
    border: 1px solid var(--color-primary);
    border-radius: 20px !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.btn,
.send {
    border-radius: 20px;
    padding: 6px;
    font-weight: bold;
    font-size: 1em;
    background-color: var(--color-primary);
    color: var(--font-color);
    transition: .3s;
    height: 35px;
    width: 100px;
    border: 0px;
}

.panel-footer .btn:hover,
.send:hover {
    background-color: var(--font-color);
    color: var(--color-primary);
}

.panel-heading {
    color: var(--font-color) !important;
    background-color: var(--color-primary) !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-radius: 20px 20px 0px 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer {
    margin: 15px 0;
    background-color: var(--color-primary);
    color: #fff;
}

/* APP BANNER */

.banner-container {
    background-color: #EBEBEB;
    padding: 10px 0 10px 0;
}

.app-img {
    width: 300px;
}

.banner-text {
    padding: 3%;
    text-align: justify;
}

footer {
    height: 0px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 50%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 1.5em;
    }

    .risk,
    .level {
        display: none;
    }
}