/* Color Paletter
Font Color: #333333
60% Color: #FFFFFF
30% Color: #DEF249
10% Color: #CCCCC
*/


/* GLOBALS */

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #333333;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #DEF249;
}

.container-fluid {
    padding: 60px 50px;
}

.banner {
    margin-top: 50px;
}

/* .slideanim {
    visibility: hidden;
} */

/* HEADER NAV */

.logo {
    font-size: 22px;
}

.sign-up {
    font-weight: bold;
}

.sign-un:hover {
    background-color: #DEF249;
    font-weight: bold;
}

.banner-header {
    background-color: #DEF249;
    color: #333333;
    height: 305px;
    padding: 0px;
}

.navbar {
    margin-bottom: 0;
    background-color: white;
    font-size: 14px !important;
    border: 0;
    box-shadow: 2px 2px 2px #cccccc;

}

.navbar li a,
.navbar .navbar-brand {
    color: #333333 !important;
    background-color: white !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #333333 !important;
    background-color: #DEF249 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.icon-bar {
    border: 1px solid #333333;
}

/* LEVEL IRSK PANEL */

.risk {
    padding: 20px;
    margin: 10px 80px 10px 80px;
    border: 1px solid #cccccc;
    height: auto;
}

.level {
    text-align: center;
    margin: 10px 80px 10px 80px;
    font-size: 1.2em;
    padding: 10px;
    height: 50px;
    border: 1px solid #cccccc;
}

.onesix {
    display: flex;
    font-size: 2.8em;
    justify-content: center;
}

.one {
    color: #626262;
}

.indicative,
.guarante {
    text-align: justify;
    font-size: 1em;
}

/* ACCOUNTS <18 */

#adabank18 {
    background-image: linear-gradient(45deg, #DEF249 25%, #ffffff 25%, #ffffff 50%, #def249 50%, #def249 75%, #ffffff 75%, #ffffff 100%);
    background-size: 113.14px 113.14px;
}


.title-adabank18 {
    text-align: center;
    font-size: 2em;
}

.subtitle-adabank18 {
    text-align: center;
}

.button-box {
    text-align: center;
    align-items: center;
}

.button18 {
    border: 2px solid #333333;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    background-color: #DEF249;
    color: #333333;
    transition: .3s;
}

.button18:hover {
    background-color: #333333;
    color: #DEF249;
}


.bg-grey {
    background-color: #EBEBEB;
}

/* CAROUSEL */

.carousel-inner {
    height: 250px;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: #DEF249;
}

.carousel-indicators li {
    border-color: #DEF249;
}

.carousel-indicators li.active {
    background-color: #DEF249;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* CARDS */

.card {
    margin-bottom: 10px;
}

.our-card {
    position: relative;
    height: 270px;
    width: 450px;
    border-radius: 25px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: .3s;
    margin-bottom: 20px;
}

.our-card:hover {
    transform: scale(1.1);
}

.card-logo img,
.card-name,
.chip img {
    position: absolute;
}

.card-logo img {
    top: 10px;
    right: 50px;
    width: 90px;
    height: auto;
}

.chip img {
    top: 120px;
    left: 40px;
    width: 45px;
    height: auto;
    opacity: 0.8;
}

.card-name {
    font-size: 2rem;
    left: 40px;
    bottom: 200px;
    color: #333333;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.standard {
    background: linear-gradient(to left, #DEF341e9, #33333390);
}

.plus {
    background: linear-gradient(to left, #8fce657e, #10396350);
}

.premium {
    background: linear-gradient(to left, rgba(223, 91, 58, 0.494), rgba(236, 164, 8, 0.603));
}

/* PANELS */

.panel {
    border: 1px solid #DEF249;
    border-radius: 20px !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.btn,
.send {
    border-radius: 20px;
    padding: 6px;
    font-weight: bold;
    font-size: 1em;
    background-color: #DEF249;
    color: #333333;
    transition: .3s;
    height: 35px;
    width: 100px;
    border: 0px;
}

.panel-footer .btn:hover,
.send:hover {
    background-color: #333333;
    color: #DEF249;
}

.panel-heading {
    color: #333333 !important;
    background-color: #DEF249 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-radius: 20px 20px 0px 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer {
    margin: 15px 0;
    background-color: #DEF249;
    color: #fff;
}

/* APP BANNER */

.banner-container {
    background-color: #EBEBEB;
    padding: 10px 0 10px 0;
}

.app-img {
    width: 300px;
}

.banner-text {
    padding: 3%;
    text-align: justify;
}

footer {
    height: 0px;
}

/* OTHER MEDIA QUERYS */

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 50%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 1.5em;
    }

    .our-card {
        height: 190px;
        width: 300px;
    }

    .card-logo {
        transform: scale(0.6);
        position: relative;
        top: 1px;
        left: 55px;
    }

    .card-name {
        position: relative;
        transform: scale(0.7);
        top: 20px;
        left: -95px;
    }

    .chip {
        position: relative;
        transform: scale(0.7);
        right: 45px;
        bottom: 30px;
    }

    .risk,
    .level {
        display: none;
    }

}