/* Variables */
:root {
    --color-primary: #DEF029;
    --font-color: #333333;
    --font-size: 16px;
}

/* Globals */
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

/* Pagination */
.pagination {
    align-items: center;
    justify-content: center;
}

a.page-link {
    color: var(--font-color) !important;
    background-color: var(--color-primary) !important;
    border: 2px solid var(--font-color) !important;
}

.default-img {
    height: 180px;
    width: auto;
}

.empty-trans {
    text-align: center;
}

.transactions {
    margin-top: 50px;
}

.last-trans-table {
    text-align: center;
    font-weight: 400;
}

.detail-title-account {
    text-align: center;
}

.login-form {
    text-align: center;
}

::placeholder {
    color: #333333;
}

.login {
    align-items: center;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 30px;
    background-color: var(--color-primary);
    padding: 20px 20px 20px;
    height: 450px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
}

.login input {
    width: 90%;
    border-radius: 10px;
    border: 2px solid var(--font-color);
    padding: 5px;
    text-align: center;
}

.login-btn {
    width: 100px;
    height: auto;
    border-radius: 10px;
    color: var(--color-primary);
    border: 2px solid var(--font-color);
    background-color: var(--font-color);
}

.login-btn:hover {
    background-color: var(--color-primary);
    color: var(--font-color);
    border: 2px solid var(--font-color);
}

.login img {
    width: 50%;
    margin-top: -20px;
    margin-bottom: 5px;
}

.register-form {
    text-align: center;
}

.register {
    align-items: center;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 30px;
    background-color: var(--color-primary);
    padding: 20px 20px 20px;
    height: 720px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
}

.register input {
    width: 90%;
    border-radius: 10px;
    border: 2px solid var(--font-color);
    padding: 5px;
    text-align: center;
}

.register-btn {
    width: 100px;
    height: auto;
    border-radius: 10px;
    color: var(--color-primary);
    border: 2px solid var(--font-color);
    background-color: var(--font-color);
}

.register-btn:hover {
    background-color: var(--color-primary);
    color: var(--font-color);
    border: 2px solid var(--font-color);
}

.register-btn:active, .login-btn:active {
    opacity: 0.5;
}

.register img {
    width: 50%;
    margin-top: -20px;
    margin-bottom: 5px;
}

.accounts {
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--color-primary);
}

/* Header nav */

.logo {
    font-size: 22px;
}

.sign-up {
    font-weight: bold;
}

.logout {
    font-weight: bold;
}

.banner-header {
    background-color: var(--color-primary);
    color: var(--font-color);
    height: 305px;
    padding: 0px;
    margin-top: 50px;
}

.navbar {
    margin-bottom: 0;
    background-color: white;
    font-size: 14px !important;
    border: 0;
    box-shadow: 2px 2px 2px #cccccc;

}

.navbar li a,
.navbar .navbar-brand {
    color: var(--font-color) !important;
}

.navbar-nav li a:hover {
    background-color: var(--color-primary) !important;
}

.selected {
    background-color: var(--color-primary) !important;
    color: #333333 !important;
}

.icon-bar {
    border: 1px solid var(--font-color);
}

/* Level Risk */

.risk {
    padding: 20px;
    margin: 0px 80px 10px 80px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    height: auto;
}

.level {
    text-align: center;
    margin: 10px 80px 0px 80px;
    font-size: 1.2em;
    padding: 10px;
    height: 50px;
    border: 1px solid #cccccc;
}

.onesix {
    display: flex;
    font-size: 2.8em;
    justify-content: center;
}

.one {
    color: #626262;
}

.indicative,
.guarante {
    text-align: justify;
    font-size: 1em;
}

/* Account<18 */

#adabank18 {
    background-image: linear-gradient(45deg, var(--color-primary) 25%, #ffffff 25%, #ffffff 50%, var(--color-primary) 50%, var(--color-primary) 75%, #ffffff 75%, #ffffff 100%);
    background-size: 113.14px 113.14px;
    padding: 60px 40px;
}

.title-adabank18 {
    text-align: center;
    font-size: 2em;
}

.subtitle-adabank18 {
    text-align: center;
}

.button-box {
    text-align: center;
    align-items: center;
}

.button18 {
    border: 2px solid var(--font-color);
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    background-color: var(--color-primary);
    color: var(--font-color);
    transition: .3s;
}

.button18:hover {
    background-color: var(--font-color);
    color: var(--color-primary);
}

.bg-grey {
    background-color: #EBEBEB;
}

/* Carousel */

.carousel-inner {
    height: 250px;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: var(--color-primary);
}

.carousel-indicators li {
    border-color: var(--color-primary);
}

.carousel-indicators li.active {
    background-color: var(--color-primary);
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

/* Cards */

.actions-cards {
    line-height: 2;
    text-align: justify;
    padding: 20px 10px 10px 5px;
    margin-top: 25px;
    width: 180px;
}

.card-list {
    margin-left: -150px;
    /* z-index: 1; */
}

.card {
    margin-bottom: 10px;
    border: none !important;
    background-color: transparent !important;
}

.our-card {
    position: relative;
    height: 184px;
    width: 293px;
    border-radius: 25px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: .2s ease;
    margin-bottom: 10px;
    margin-top: 10px;
}

.our-card:hover {
    transform: scale(1.05);
}

.card-logo img,
.card-name,
.chip img {
    position: absolute;
}

.card-logo img {
    top: 10px;
    right: 25px;
    width: 55px;
    height: auto;
}

.chip img {
    top: 120px;
    left: 35px;
    width: 35px;
    height: auto;
    opacity: 0.8;

}

.card-name {
    font-size: 1.5rem;
    left: 35px;
    bottom: 130px;
    color: var(--font-color);
}

.card-code {
    padding: 118px;
    color: var(--font-color);
}

.select-card-title {
    margin-bottom: 20px;
}

.title-card {
    margin-bottom: 5px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.standard {
    background-color: #def029;
}

.plus {
    background-color: #def029;
    background-image: linear-gradient(135deg, #dbdbdb 25%, transparent 25%), linear-gradient(225deg, #dbdbdb 25%, transparent 25%), linear-gradient(45deg, #dbdbdb 25%, transparent 25%), linear-gradient(315deg, #dbdbdb 25%, #def029 25%);
    background-position: 40px 0, 40px 0, 0 0, 0 0;
    background-size: 80px 80px;
    background-repeat: repeat;
}

.premium {
    background-color: #dbdbdb;
    background-image: linear-gradient(30deg, #def029 12%, transparent 12.5%, transparent 87%, #def029 87.5%, #def029), linear-gradient(150deg, #def029 12%, transparent 12.5%, transparent 87%, #def029 87.5%, #def029), linear-gradient(30deg, #def029 12%, transparent 12.5%, transparent 87%, #def029 87.5%, #def029), linear-gradient(150deg, #def029 12%, transparent 12.5%, transparent 87%, #def029 87.5%, #def029), linear-gradient(60deg, #def02977 25%, transparent 25.5%, transparent 75%, #def02977 75%, #def02977), linear-gradient(60deg, #def02977 25%, transparent 25.5%, transparent 75%, #def02977 75%, #def02977);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}


/* PANELS */

.panel {
    border: 1px solid var(--color-primary);
    border-radius: 20px !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.btn,
.send {
    border-radius: 20px;
    padding: 6px;
    font-weight: bold;
    font-size: 1em;
    background-color: var(--color-primary);
    color: var(--font-color);
    transition: .3s;
    height: 35px;
    width: 100px;
    border: 0px;
}

.panel-footer .btn:hover,
.send:hover {
    background-color: var(--font-color);
    color: var(--color-primary);
}

.panel-heading {
    color: var(--font-color) !important;
    background-color: var(--color-primary) !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-radius: 20px 20px 0px 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer {
    margin: 15px 0;
    background-color: var(--color-primary);
    color: #fff;
}

/* APP BANNER */

.banner-container {
    background-color: #EBEBEB;
    padding: 10px 0 10px 0;
}

.app-img {
    width: 300px;
}

.banner-text {
    padding: 3%;
    text-align: justify;
}

footer {
    height: 0px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 50%;
        margin-bottom: 35px;
    }

    .card-list {
        margin-left: 0px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 1.5em;
    }

    .risk,
    .level {
        display: none;
    }
}

/* Messages */

ul.messages {
    list-style-type: none;
    padding: 0;
    font-weight: bold;
  
    li.success {
      background-color: rgb(105, 234, 141);
      color: rgb(21, 71, 44);
      padding: 5px;
  
      &::before {
        content: "✔ ";
      }
    }
  
    li.error {
      background-color: rgb(205, 90, 90);
      color: rgb(79, 15, 15);
      padding: 5px;
  
      &::before {
        content: "";
      }
    }
  }
  
  ul.errorlist {
    list-style-type: none;
    padding: 0;
    color: rgb(189, 30, 30);
  }

/* Confirm delete */

.alert-container {
    height: 100vh;
    display:flex;
    justify-content:center;
}    
.deleteconfirm{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    margin: auto;
    width: 50%;
    height: 300px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    background-color: #DEF249;
}

.deleteconfirm a{
    text-decoration: none;
}

.cancel{
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    transition: .3s;
    margin-bottom: 5px;
}

.cancel a{
    color: white;
}

.cancel:hover{
    transform: scale(1.05);
}

.confirm{
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    transition: .3s;
}

.confirm a{
    color:white;
}

.confirm:hover{
    transform: scale(1.05);
}

/* Card SVG */


.card-svg {
    width: 90%;
    height: 85vh;
    overflow: hidden;
}