{% load static %}
{% load bootstrap3 %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="{% url 'index' %}">AdaBank</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-left">
          <li><a {% if section == 'profile' %} class="selected" {% endif %} href="{% url 'profile' %}">Profile</a></li>
          <li><a {% if section == 'accounts' %} class="selected" {% endif %} href="{% url 'account:account_list' %}">Accounts</a></li>
          <li><a {% if section == 'cards' %} class="selected" {% endif %} href="{% url 'account:card_list' %}">Cards</a></li>
          <li><a href="{% url 'sidebar' %}">Sidebar</a></li>
          <li><a href="{% url 'sidebar2' %}">Sidebar2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Sign in</a></li>
            <li ><a href="{% url 'register' %}"><span class="sign-up">Sign up</span></a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>