{% load static %}
{% load i18n %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <h1><a href="{% url 'index' %}" class="logo">Adabank</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="{% url 'index' %}"><span class="fa fa-home mr-3"></span> {% trans "Home" %}</a>
                </li>
                <li>
                    <a {% if section == 'accounts' %} class="selected" {% endif %} href="{% url 'account:account_list' %}"><span class="fa fa-list-ul mr-3"></span> {% trans "Accounts" %}</a>
                </li>
                <li>
                    <a {% if section == 'cards' %} class="selected" {% endif %} href="{% url 'account:card_list' %}"><span class="fa fa-credit-card mr-3"></span> {% trans "Cards" %}</a>
                </li>
                <li>
                    <a href="{% url 'account:transaction_list' %}"><span class="fa fa-exchange mr-3"></span> {% trans "Transactions" %}</a>
                </li>
                <li>
                    <a {% if section == 'profile' %} class="selected" {% endif %} href="{% url 'profile' %}"><span class="fa fa-user mr-3"></span> {% trans "Profile" %}</a>
                </li>
                <li>
                    <a href="#" class="logoutlink" onclick=alertando()><span class="fa fa-sign-out mr-3"></span>{% trans "Logout" %}</a>
                </li>
                <li>
                    {% if request.LANGUAGE_CODE == 'es' %} <a href="/en{{ request.path|slice:"3:" }}">🇬🇧 English</a>
                    {% elif request.LANGUAGE_CODE == 'en' %} <a href="/es{{ request.path|slice:"3:" }}">🇪🇸 Español</a>
                    {% endif %}  
                </li>
            </ul>
        </nav>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        function alertando() {
            let main = '{% url "logout" %}'
            window.location.href = main
        }
    </script>
</body>
</html>