{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans "Sign in" %} | Adabank
{% endblock  %}

{% block content %}
  <div class="col-md-4 col-sm-2"></div>
  <div class="col-md-4 col-sm-2 login">
    <a href="{% url 'index' %}">
      <img src="{% static "img/adabank_logo.svg" %}">
    </a>
    <div class="login-form">
      <form action="{% url "login" %}" method="post">
        {% csrf_token %}

        {% for field in form %}
          <p>
            <input type="{{ field.field.widget.input_type }}"
                   name="{{ field.name }}"
                   placeholder="{{ field.label }}"
                   {% if field.value %}value="{{ field.value }}"{% endif %}
                   {% if field.field.required %}required{% endif %}>
          </p>
        {% endfor %}

        <input type="hidden" name="text" value="{{ next }}" />
        <p>
          <input class="login-btn" type="submit" value="{% trans 'Sign In' %}"/>
        </p>
      </form>
      <p>
        <a href="{% url "password_reset" %}">{% trans "Forgotten your password?" %}</a>
      </p>
    </div> 
    <p><a href="{% url 'register' %}">{% trans "Not a client? Sign Up!" %}</a></p>
    {% if form.errors %}
      <p>{% trans "Your username or password didn't match. Please try again" %}</p>
    {% endif %}
  </div>
{% endblock %}