{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Reset your password" %}
{% endblock title %}

{% block content %}
    <h1>{% trans "Reset your password" %}</h1>
    <p>{% trans "An email was sent with the instructions for reset your password" %}</p>
    <p>{% trans "In case you can't find the email, please be sure that you've entered the address that you are using in your account (the one you registered with)." %}</p>
    <p><a href="{% url 'password_reset' %}">{% trans "Send email again" %}</a></p>
{% endblock content %}