{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Reset password" %} | Adabank
{% endblock %}

{% block content %}
<div class="col-md-4 col-sm-2"></div>
  <div class="col-md-4 col-sm-2 login">
    <a href="{% url 'index' %}">
      <img src="{% static "img/adabank_logo.svg" %}">
    </a>
    <h4 style="margin-bottom:10px">{% trans "Forgotten your password?" %}</h4>
    <p>{% trans "Enter your email address to reset your password" %}</p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input class="login-btn" type="submit" value="{% trans 'Send' %}">
    </form>
</div>
{% endblock %}