{% extends "base.html" %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please, establish your new password two times:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"></p>
        </form>
    {% else %}
        <p>Password link is not valid. Probably it was used before.</p>
        <p><a href="{% url 'password_reset' %}">Try to order another email</a></p>
    {% endif %}
{% endblock content %}