{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Reset your password" %}
{% endblock title %}

{% block content %}
<div class="col-md-4 col-sm-2"></div>
  <div class="col-md-4 col-sm-2 login reset-password-done">
    <a href="{% url 'index' %}">
      <img src="{% static "img/adabank_logo.svg" %}">
    </a>
    <h3>{% trans "Reset your password" %}</h3>
    <p>{% trans "An email was sent with the instructions for reset your password" %}.</p>
    <p>{% trans "In case you can't find the email, please be sure that you've entered the address that you are using in your account (the one you registered with)." %}</p>
    <p class="reset-password-done-link"><a href="{% url 'password_reset' %}">{% trans "Send email again" %}</a></p>
</div>
{% endblock content %}