{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Reset your password" %}
{% endblock title %}

{% block content %}
    <h1>{% trans "Reset your password" %}</h1>
    {% if validlink %}
        <p>{% trans "Please, establish your new password two times:" %}</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="{% trans 'Change my password' %}"></p>
        </form>
    {% else %}
        <p>{% trans "Password link is not valid. Probably it was used before." %}</p>
        <p><a href="{% url 'password_reset' %}">{% trans "Try to order another email" %}</a></p>
    {% endif %}
{% endblock content %}