{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
  {% trans "Create card" %}
{% endblock %}

{% block content %}
<style>

</style>
    <div class="alert-container">
        <div class="deleteconfirm">
            <h3>
                {% trans "Are you sure that you want to create a new card for this account?" %}
            </h3>
            <a class='confirm' href="{% url 'account:card_create' account.id %}">{% trans "Confirm" %}</a>
            <a class='cancel' href="{% url "account:account_list" %}">{% trans "Cancel" %}</a>
        </div>
    </div>
{% endblock %}