{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Create a card" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="django">
        <h1>{% trans 'Fill the following form to create a card:'%}</h1>
        <form method="post">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
              <th>Alias</th>
            </tr>
            <tr>
              <td>{{ card_form.alias }}</td>
            </tr>
            <tr>
                <th>{% trans "Password" %}</th>
            </tr>
            <tr>
                <td>{{ card_form.password }}</td>
            </tr>
      </table>
      {% csrf_token %}
      <input type="submit" value="{% trans "Create" %}">
    </form>
    </div>
{% endblock %}
