{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
{% blocktrans %}
    Delete card {{ card.alias }}
{% endblocktrans %}
{% endblock %}

{% block content %}
<style>

</style>
    <div class="alert-container">
        <div class="deleteconfirm">
                <h3>
                    {% trans "Are you sure that you want to delete your card" %} "{{ card.alias }}"
                </h3>            
            <a class='confirm' href="{% url 'account:delete_card' card.id %}">{% trans "Confirm" %}</a>
            <a class='cancel' href="{% url "account:card_list" %}">{% trans "Cancel" %}</a>
        </div>
    </div>
{% endblock %}
