{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Edit Card" %} | Adabank {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-sm-2 col-xs-1 sidebar2">
      {% include "sidebar.html" %}
    </div>
    <div class="col-md-8 col-sm-10 col-xs-10 mt-2 card-list">
    <h1 class="title-card-list">{% trans "Edit card" %}</h1>
    <form method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Alias</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <td>
                    {{ form.alias }}
                    {% csrf_token %}
                </td>
                <td><input type="submit" value="{% trans "Edit" %}"></td>
            </tr>
        </tbody>
        </table>
    </form>
</div>
</div>
</div>
{% endblock %}